.container-flex {
  /*display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: auto; 
   
   
   display: flex;
   flex-direction: row;
   justify-content: flex-start;

}

.container-flex div {
   font-size: 200%;
   background-color: green;
   font-size: 200%;
   padding: 2mm;
   margin: 10px 10px;
   flex: 0 1 20%;
   text-align: center;
}

.container-flex2 {
   display: flex;
   flex-flow: row;
   justify-content: flex-start;
}

.container-flex2 div {
   font-size: 200%;
   background-color: green;
   font-size: 200%;
   padding: 2mm;
   margin: 25px 25px;
   flex: 0 1 50%;
   text-align: center;

}
.container-flex3 {
   display: flex;
   flex-wrap: nowrap;
   /flex-flow: row;/
   width: 100%;
   align-items: center;
   justify-content: center;
}

.container-flex3 div {
   width: 80%;
   background-color: green;
   margin: 10px;
   text-align: center;
   line-height: 75px;
   font-size: 30px;
   text-align: center;

}
.container-flex4 {
   display: flex;
   flex-flow: row;
   justify-content: flex-start;
}

.container-flex4 .col-1 {
   font-size: 200%;
   background-color: green;
   font-size: 200%;
   padding: 2mm;
   margin: 25px 25px;
   flex: 70%;
   text-align: center;
}

.container-flex4 .col-2 {
   font-size: 200%;
   background-color: green;
   font-size: 200%;
   padding: 2mm;
   margin: 25px 25px;
   flex: 30%;
   text-align: center;

}